nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 91, 167);
    padding: 10px;
    width: 1230px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    padding: 10px;
}
.secdiv{
    display: flex;
    gap: 60px;
}
.About{
    display: flex;
    gap: 20px;
}
.quote{
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 30px 30px 30px;
    text-align: center;
}
.services{
    display: flex;
    gap: 60px;
}
.hero{
    gap: 200px;
}